

.addItemForm input, .addItemForm select {
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #d1d5db;
  border-radius: 0.5rem;
  outline: none;
  transition: box-shadow .2s;
}

.addItemForm input:focus, .addItemForm select:focus {
  box-shadow:
    0 0 0 2px rgba(96, 165, 250, 0.5),
    0 10px 15px -3px rgba(0,0,0,.1),
    0 4px 6px -4px rgba(0,0,0,.1);
}

.addItemForm label .addItemForm select {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #374151;
}
